<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="wrapper">
      <div class="columns card">
        <div class="column">
          <h3>Tires - $23,432</h3>
          <progress class="progress" value="25" max="100" />
        </div>
      </div>
      <div class="panel inventory-panel">
        <p class="panel-heading">Inventory</p>

        <div class="panel-block">
          <p class="column is-two-thirds control">
            <input class="input" type="text" placeholder="Search" />
          </p>
          <a href="/dashboard/new" class="column control">
            <button class="button is-primary" style="margin: 0 auto">
              New Inventory Item +
            </button>
          </a>
        </div>

        <div class="panel-block">
          <p class="column text-align-center">Category</p>
          <p class="column text-align-center">Title</p>
          <p class="column text-align-center">Sku</p>
          <p class="column text-align-center">Quanity</p>
        </div>

        <% inventory.forEach(item => { %>
          <a class="panel-block" href="/dashboard/inventory/<%= item._id %>">
            <p class="column text-align-center">
              <% item.category.forEach((cat) => { %>
                <%= `${cat.title} ` %>
              <% }) %>
            </p>
            <p class="column text-align-center"><%= item.title %></p>
            <p class="column text-align-center"><%= item.sku %></p>
            <p class="column text-align-center"><%= item.quanity %></p>
          </a>
        <% }) %>
      </div>
    </div>
  </body>
</html>
