<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="wrapper">
      <div class="columns card">
        <div class="column">
          <h3>Total Value - $<%= ((inventoryTotals.value || 0) / 100).toLocaleString({style: 'currency', currency: 'USD'}) %></h3>
          <progress class="progress is-link" value="<%= inventoryTotals.value %>" max="<%= inventoryTotals.value %>" />
        </div>
        <div class="column">
          <h3>Total Cost - $<%= ((inventoryTotals.cost || 0) / 100).toLocaleString({style: 'currency', currency: 'USD'}) %></h3>
          <progress class="progress is-info" value="<%= inventoryTotals.cost %>" max="<%= inventoryTotals.value %>" />
        </div>
        <div class="column">
          <h3>Potential Profit - $<%= ((inventoryTotals.profit || 0) / 100).toLocaleString({style: 'currency', currency: 'USD'}) %></h3>
          <progress class="progress is-success" value="<%= inventoryTotals.profit %>" max="<%= inventoryTotals.value %>" />
        </div>
      </div>
      <div class="panel inventory-panel">
        <p class="panel-heading">Inventory - <a href="/auth/logout">Log out</a></p>

        <div class="panel-block">
          <p class="column is-two-thirds control">
            <input class="input" type="text" placeholder="Search" />
          </p>
          <a href="/dashboard/inventory/new" class="column control">
            <button class="button is-primary" style="margin: 0 auto">
              New Inventory Item +
            </button>
          </a>
        </div>

        <div class="panel-block">
          <p class="column text-align-center">Category</p>
          <p class="column text-align-center">Title</p>
          <p class="column text-align-center">Sku</p>
          <p class="column text-align-center">Quanity</p>
        </div>

        <% inventory.forEach(item => { %>
          <a class="panel-block" href="/dashboard/inventory/<%= item._id %>">
            <p class="column text-align-center">
              <% item.category.forEach((cat) => { %>
                <%= `${cat.title} ` %>
              <% }) %>
            </p>
            <p class="column text-align-center"><%= item.title %></p>
            <p class="column text-align-center"><%= item.sku %></p>
            <p class="column text-align-center"><%= item.quanity %></p>
          </a>
        <% }) %>
      </div>
    </div>
  </body>
</html>
